@using BlazorAppDynamicQuestionGenerator.Client.Common;

<div class="row">

    <RadzenCheckBoxList @bind-Value=@values TValue="int" Change=@OnChange>
        <Items>
            @for (int i = 0; i < RdoLength; i++)
            {
                <RadzenCheckBoxListItem Text="@StaticData.answerOptionsName[i]" Value="@(i+1)" />
            }

        </Items>
    </RadzenCheckBoxList>


</div>
@code {
    [Parameter]
    public int RdoLength { get; set; }
    [Parameter]
    public EventCallback<string> CheckBoxAnswerOptionsSelectAnswer { get; set; }
    IEnumerable<int> values = new int[] { };

    void OnChange(IEnumerable<int> value)
    {
        //Console.WriteLine($"Value changed to {string.Join(", ", value)}");
        OnMultipuleChoiceOptionsChanged(string.Join(", ", value));
    }
    private Task OnMultipuleChoiceOptionsChanged(string value)
    {
        return CheckBoxAnswerOptionsSelectAnswer.InvokeAsync(value);
    }




}
